.homeWrapper {
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--mcxueColorDark);
  .homeMain{
    padding-bottom: 100px;
  }
  .title {
    font: var(--mcxueFontH2);
    padding-bottom: 20px;
  }
  p {
    padding-top: 10px;
  }
  .buttonWrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    .button {
      height: 40px;
      width: 100px;
    }
  }
}
