.mcxueTooltipTrigger {
  display: inline-block;
}
.mcxueTooltip {
  position: fixed;
  margin-bottom: 10px;
  .mcxueArrow {
    background: rgba(38, 38, 38, 1);
    width: 6 * 1.414px;
    height: 6 * 1.414px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .mcxueTooltipInner {
    background: rgba(38, 38, 38, 1);
    color: #FFF;
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 3px;
  }
}
