.mcxueTabsNav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: $tabsBorderWidth solid $tabsBorderColor;
  .mcxueTabsNavItem {
    padding: $tabsNavPaddingY $tabsNavPaddingX;
    cursor: pointer;
    &:hover, &:focus {
      color: $tabsNavHoverColor;
    }
    &.disabled {
      color: $tabsNavDisabledColor;
      background-color: transparent;
      border-color: transparent;
      cursor: default;
      &:hover {
        cursor: not-allowed;
      }
    }
    &.active {
      border-bottom: 2px solid #0057FF;
    }
  }
  &.navCard .mcxueTabsNavItem {
    margin-bottom: -$tabsBorderWidth;
    border: $tabsBorderWidth solid transparent;
    &.active {
      border-top-left-radius: $tabsBorderRadius;
      border-top-right-radius: $tabsBorderRadius;
      background-color: $tabsNavActiveBg;
      border-color: $tabsNavActiveBorderColor;
    }
  }
}
.mcxueTabsContent {
  margin-top: $tabsContentMargin;
}
